$white: #FDFDFB;
$dark-gray: #1B1A17;
$light-gray: #555248;
$counter-color: #E6C8B4;
$line-color: #8B8371;

%content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin input-placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &:-moz-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }
}